<!DOCTYPE html>
<html>
  <head>
    <title>TuneTerra</title>
    <style>
      body {
        background-color: #1e90ff;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      h1,
      h2 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Here's the link to your playlist!</h1>
    <br />
    <h2>
      <a href="{{ auth }}" target="_blank">{{playlist}}</a>
    </h2>
    <h3>
      <iframe
        style="border-radius: 12px"
        src="{{ src }}"
        width="1000"
        height="700"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
      ></iframe>
    </h3>
  </body>
</html>
